@media (min-width: 768px){
   br{
       display: none;
   } 
   .top{
       font-size:1.5rem;
        .top-text{
            span{
            font-size:2.5rem;
            }
        }
    img{
        height:350px; 
    }
   }
}