//base

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  font-size: 1rem;
  color: #010141;
  background: white;
  line-height: 1.7;
  width: 100%;
}

li {
  list-style-type: none;
}

ul,
ol {
  padding: 0;
}

.contents-wrapper {
  width: 100%;
  margin: 0 auto;
}

.box {
  max-width: 700px;
  margin: 100px auto;
}

.container {
  margin: 60px 20px;
  padding: 10px 5px 40px;
  box-sizing: border-box;
  background: rgba(226, 226, 226, 0.5);
  border-radius: 5px;
}

.white {
  background: white;
  margin-top: -60px;
}

h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #010141;
  margin: 30px auto;
}

// header
nav {
  background: white;
  box-shadow: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 60px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  // z-index: 888;

  .nav-list {
    list-style: none;
    display: flex;
    align-items: center;

    .menu-item {
      margin: 0 auto;

      a {
        text-decoration: none;
        color: #010141;
        font-weight: 600;
        padding: 10px;

        &:hover {
          background: rgba(226, 226, 226, 0.5);
        }
      }
    }
  }

  .logo {
    margin: 0;
    padding: 5px 10px;

    li {
      background: #010141;
      color: white;
      font-weight: 600;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}

// mv
.top {
  margin-top: 60px;
  font-weight: 500;

  .top-text {
    margin: 130px auto 60px;

    span {
      color: white;
      background: #010141;
      font-size: 1.8rem;
    }
  }

  .mv {
    width: 70%;
    margin: 0 auto 40px;
  }
}

//   profile
#profile {
  background: url(../img/bg.jpg) no-repeat center center fixed;
  background-size: cover;
  padding: 25px 0 50px;

  .myPhoto {
    img {
      border-radius: 50%;
    }
  }

  .kanji {
    font-weight: 600;
    font-size: 1.5rem;
  }

  .kana {
    font-size: 1.1rem;
  }

  .alphabet {
    font-size: 1rem;
  }

  h3 {
    margin-top: 20px;
  }
}

// chronology
#chronology {
  .box02 {
    margin: 30px 10px 50px;
    padding: 20px 5px;
  }
}

table {
  margin: 0 auto;
  padding: 20px 30px;
  border: #010141 2px solid;
  border-radius: 5px;
  text-align: left;
  letter-spacing: -0.3px;

  tr {
    display: block;
    margin: 20px 0;
  }

  td {
    display: inline-block;

    &:first-child {
      font-weight: 600;
      font-size: 0.8rem;
    }
  }
}

// strength
#strength {
  background-image: radial-gradient(#c2e9fb -50%, #687caf 120%);
  padding: 25px 0 50px;
}

.text-content {
  padding: 10px 25px;
  max-width: 550px;
  text-align: justify;
  margin: 0 auto;

  .size-change {
    font-size: 1.5rem;
    font-weight: 500;
  }
}

.box03 {
  padding-bottom: 20px;
}

// works
#works .wider {
  max-width: 890px;

  img {
    width: 100%;
  }
}

#works .flex {
  margin-top: 40px;

  .piece {
    display: block;
    margin: 40px auto;
    border: #ccc 1px solid;
  }

  .web {
    @extend .piece;
    margin-bottom: 40px;

    &:hover {
      cursor: pointer;
      transition: all 0.3s ease;
      transform: scale(1.1);
    }
  }
}

.design {
  margin-top: 20px;
  margin-bottom: -5px;
  display: inline-block;

  &:hover {
    cursor: pointer;

    span {
      transform: translateY(3px);
    }
  }
}

//modal
.modal {
  background: white;
  width: 100%;
  height: 100vh;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  text-align: left;
  overflow-y: scroll;

  .modal-inner {
    position: relative;
    background: rgb(176, 196, 222);
    width: 70%;
    margin: 0 auto;
    // height: 100vh;
    box-shadow: 0 25px 15px rgba(0, 0, 0, 0.2);

    h3 {
      text-align: center;
      margin: 50px auto 10px;
      width: 100%;
      background: #010141;
      color: white;
      border-radius: 10px;
      padding: 2px 10px;
      display: inline-block;
    }

    .grid {
      div {
        width: 100%;
        margin: 0 auto;
        padding: 20px;

        img {
          width: 100%;
          box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.3)
        }
      }

      .site-img {
        @extend div;
        padding: 30px 20px 0;
      }

      table {
        border: none;
        padding: 0 20px;

        tr {
          display: block;
          margin: 10px 0;

          td {
            display: inline;

            &:first-child {
              font-size: 1rem;
            }
          }
        }
      }
    }

    .btn {
      text-align: center;

      a {
        display: inline-block;
        width: 80%;
        text-decoration: none;
        font-weight: bold;
        color: #fff;
        background: #010141;
        padding: 1.5% 4%;
        margin: 14px auto 40px;
        border-radius: 30px;
        text-align: center;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);

        &:hover {
          opacity: 0.8;
        }
      }
    }


    button {
      color: #010141;
      font-size: 40px;
      position: absolute;
      top: 25px;
      right: -10vw;
      width: 50px;
      height: 50px;
      cursor: pointer;
      border-radius: 100%;
      background: transparent;
      border: none;
      transition: all .3s ease;

      &:hover {
        color: #fff;
        background: #010141;
      }
    }

    .description {
      width: 90%;
      margin: 0 auto;
      padding: 40px 5%;
      border-top: 2px solid #010141;

      h4 {
        display: inline-block;
        background: #010141;
        color: white;
        padding: 5px 10px;
        margin: 15px 0 5px;
      }

      ul {
        padding-left: 10%;

        li {
          list-style-type: initial;
        }
      }

      dl {
        dt {
          margin-top: 10px;
          font-weight: bold;
        }

        dd {
          padding-left: 10%;
          font-size: 0.8rem;

          span {
            font-weight: bold;
          }
        }

      }

    }
  }
}

// page top
#page_top {
  width: 100px;
  height: 60px;
  position: fixed;
  right: 5%;
  bottom: -180px;
  background: #687caf;
  opacity: 0.8;
  border-radius: 3px;
  z-index: 888;

  &:hover {
    -webkit-transform: scale(1.02) translate(0px, -5px);
    transform: scale(1.02) translate(0px, -5px);
  }

  a {
    position: relative;
    display: block;
    width: 100px;
    height: 60px;
    text-decoration: none;

    &::before {
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      content: "\f102";
      font-size: 25px;
      color: #fff;
      position: absolute;
      width: 25px;
      height: 25px;
      top: -35px;
      bottom: 0;
      right: 0;
      left: 0;
      margin: auto;
      text-align: center;
    }

    &::after {
      content: "PAGE TOP";
      font-size: 13px;
      color: #fff;
      position: absolute;
      top: 35px;
      bottom: 0;
      right: 0;
      left: 0;
      margin: auto;
      text-align: center;
    }
  }
}

// footer
footer {
  margin-top: 70px;
  padding-top: 5px;
  background: #010141;
  color: white;

  .footer-wrapper {
    padding: 5px;
    font-size: 0.8rem;

    address {
      display: inline;

      a {
        color: white;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    small {
      display: block;
    }
  }
}

@media (min-width: 768px) {
  br {
    display: none;
  }

  .kana {
    font-size: 1rem;
  }

  .alphabet {
    font-size: 0.9rem;
  }

  .top {
    font-size: 1rem;

    .top-text {
      span {
        font-size: 1.8rem;
      }
    }

    img {
      height: 350px;
    }
  }

  .box05 .btn {
    flex-wrap: nowrap;
  }

  .text-content04 {
    br {
      display: block;
    }
  }

  #works .flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .piece {
      width: 40%;
      height: 10%;
    }
  }
}

@media (min-width: 1024px) {
  nav {
    justify-content: space-evenly;

    .menu-item {
      padding: 0 10px;
    }
  }

  .modal .modal-inner {
    h3 {
      margin: 7% auto 25px;
    }

    .grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      width: 85%;
      margin: 0 auto;
      padding: 30px 0 20px;

      table tr {
        margin-left: 18px;
      }

      div {
        padding: 0 40px;

        h3 br {
          display: none;
        }

      }
    }

    .btn a {
      width: 30%;
    }
  }
}