div{
    display:flex;
    flex-direction: row;
    width:80%;
    border:2px solid black;
}

.page_header{
    width:80%;
    }
.page_footer{
    width:80%;
    }
.page_main{
    background-color:rgb(206, 206, 206);
    box-sizing:border-box;
    }
.page_sub1{
    background-color: darkkhaki;
    font-size: 0.7em;
    }
.page_sub2{
    background-color: darkkhaki;
    font-size: 0.7em;
    }

nav ul{
    display: flex;
}

nav ul li{
    list-style-type: none;  
    padding:20px;
    margin:0,auto;
    display:block;
    text-decoration:none;
}

.container{
    
}