body{
    background-color: rgb(255, 255, 255);
    color:brown;
    text-align: center;
    background-image:url(../img/background02.jpg);
}

header p{
    margin:20px;
    padding:20px;
}

footer{
    text-align:center;
    color:brown;
}

dl span{
    text-decoration-line: underline;
    font-size: larger;
    color:rgb(82, 79, 79);
}

h1 img{
    width:30%;
    margin:0px,auto;
    text-align: center;
}

.profile{
    background-color: rgb(212, 109, 128);
    width: 250px;
    margin:0 auto;
    padding:30px;
    border:2px solid rgb(163, 84, 84);
    color:white;
    text-align: left;
}

.question{
    width: 800px;
    background-color: rgb(212, 109, 128);
    margin:0 auto;
    padding:30px;
    border:2px solid rgb(163, 84, 84);
    color: white;
    text-align: left;
}


nav ul{
    display: table;
    margin: 0 auto;
    padding: 0;
    width: 80%;
    text-align: center;
    }
nav ul li{
    display: table-cell;
    min-width: 50px;
    position: relative;

